html.loading{
	cursor: wait;
}
#cms-toolbar{
	position: fixed;
	left: 25%;
	top: 90%;

	height: 60px;
	background: #e8e8e8;
	border: 2px solid #888;
	border-radius: 50px;
	width: 35%;

	box-shadow: 0 5px 15px #77777750;
}
#cms-toolbar .grid-container{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 0 3em;

	display: grid;
	grid-template-areas: 
		"formatting workflow"
		"insertion workflow";
	align-items: center;
	column-gap: 1em;
	position: relative;
}
#cms-toolbar .cms-drag.cms-btn{
	background: url("./icons/drag.svg");
	width: 36px;
	height: 36px;

	position: absolute;
	left: 0;
	opacity: .7;
	background-size: cover;
	background-repeat: no-repeat;
}
#cms-toolbar .cms-save{
	background: url("./icons/save.svg");
}
#cms-toolbar .cms-publish{
	background: url("./icons/publish.svg");
}
#cms-toolbar .cms-bold{
	background: url("./icons/bold.svg");
}
#cms-toolbar .cms-italic{
	background: url("./icons/italic.svg");
}
#cms-toolbar .cms-underline{
	background: url("./icons/underline.svg");
}
#cms-toolbar .cms-linethrough{
	background: url("./icons/linethrough.svg");
}
#cms-toolbar .cms-link{
	background: url("./icons/link.svg");
}
#cms-toolbar .cms-image{
	background: url("./icons/image.svg");
}
#cms-toolbar .cms-btn{
	cursor: pointer;
	width: 26px;
	height: 26px;

	margin: 0 .2em;

	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: none;
	border: none;
	outline: none;
}
#cms-toolbar .inactive{
	opacity: .6;
	cursor: default;
}
#cms-toolbar .cms-workflow .cms-btn{
	width: 36px;
	height: 36px;
}
.cms-formatting, .cms-insertion, .cms-workflow{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.cms-formatting{
	grid-area: formatting;
	grid-row: 1;
}
.cms-insertion{
	grid-area: insertion;
	grid-row: 2;
}
.cms-workflow{
	grid-area: workflow;
	grid-row: 1/3;
	justify-content: space-between;
}

.prompt-container{
	box-sizing: border-box;
	padding: 1em;
	position: fixed;

	background: #e8e8e8;
	border: 2px solid #888;
	box-shadow: 0 5px 15px #777;

	width: 25%;
	left: calc(50% - (25% / 2));
	top: 100px;
	
	user-select: none;
	-webkit-user-select: none;
}
.prompt-container h4{
	margin: 0 0 1.5em;
}
.prompt-container .prompt-cancel{
	height: 28px;
	width: 28px;
	background: url("./icons/cancel.svg");
	background-size: cover;
	float: right;

	cursor: pointer;
}
.prompt-container .prompt-input{
	box-sizing: border-box;
	width: 100%;
	font-size: .9em;
	height: 1.9rem;
	padding: .3rem .8rem 0;
	background: #f2f2f2;
	border: 1px dashed #333;
	color: #555;

	user-select: none;
	-webkit-user-select: none;
}
.prompt-container .cms-submit-btn{
	margin-top: 15px;
	padding: .5em 1em;
	background: #000;
	color: #e8e8e8;
	display: inline-block;

	user-select: none;
	-webkit-user-select: none;

	cursor: pointer;
}

.cms-input-field{
	outline: 1px dashed #695e72;
	border: 0;
	transition: 
		outline 150ms ease;
}
img.cms-input-field{
	cursor: move;
}